In [21]:
#dependencies
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import scipy.stats as stats

In [2]:
#create variable to hold csv file
file_path = "baseball_project.csv"

In [3]:
# Read our Data file with the pandas library
base_df=pd.read_csv(file_path)
base_df.head()

,yearID,lgID,teamID,franchID,divID,Rank,G,Ghome,W,L,...,DP,FP,name,park,attendance,BPF,PPF,teamIDBR,teamIDlahman45,teamIDretro
0,1871,NaN,BS1,BNA,NaN,3,31,NaN,20,10,...,24,0.834,Boston Red Stockings,South End Grounds I,NaN,103,98,BOS,BS1,BS1
1,1871,NaN,CH1,CNA,NaN,2,28,NaN,19,9,...,16,0.829,Chicago White Stockings,Union Base-Ball Grounds,NaN,104,102,CHI,CH1,CH1
2,1871,NaN,CL1,CFC,NaN,8,29,NaN,10,19,...,15,0.818,Cleveland Forest Citys,National Association Grounds,NaN,96,100,CLE,CL1,CL1
3,1871,NaN,FW1,KEK,NaN,7,19,NaN,7,12,...,8,0.803,Fort Wayne Kekiongas,Hamilton Field,NaN,101,107,KEK,FW1,FW1
4,1871,NaN,NY2,NNA,NaN,5,33,NaN,16,17,...,14,0.840,New York Mutuals,Union Grounds (Brooklyn),NaN,90,88,NYU,NY2,NY2

In [4]:
# #Adjust base_df to show rows(2010 - 2017...break at 2013), columns(name,yearID, H, R, ERA, ER)
# base_df[["name","yearID","H","ERA","ER"]]

In [26]:
#Hits Average per year
date_range=base_df[base_df["yearID"]==2010]
hit_mean_2010=date_range["H"].mean()

date_range=base_df[base_df["yearID"]==2011]
hit_mean_2011=date_range["H"].mean()

date_range=base_df[base_df["yearID"]==2012]
hit_mean_2012=date_range["H"].mean()

date_range=base_df[base_df["yearID"]==2013]
hit_mean_2013=date_range["H"].mean()

date_range=base_df[base_df["yearID"]==2014]
hit_mean_2014=date_range["H"].mean()

date_range=base_df[base_df["yearID"]==2015]
hit_mean_2015=date_range["H"].mean()

date_range=base_df[base_df["yearID"]==2016]
hit_mean_2016=date_range["H"].mean()

date_range=base_df[base_df["yearID"]==2017]
hit_mean_2017=date_range["H"].mean()

print(hit_mean_2010,hit_mean_2011,hit_mean_2012,hit_mean_2013,hit_mean_2014,hit_mean_2015,hit_mean_2016,hit_mean_2017)

1418.4666666666667 1408.9 1402.1 1403.1 1386.5 1403.5333333333333 1409.2 1407.1666666666667

In [19]:
#ERA Average per year
date_range=base_df[base_df["yearID"]==2010]
ERA_mean_2010=date_range["ERA"].mean()

date_range=base_df[base_df["yearID"]==2011]
ERA_mean_2011=date_range["ERA"].mean()

date_range=base_df[base_df["yearID"]==2012]
ERA_mean_2012=date_range["ERA"].mean()

date_range=base_df[base_df["yearID"]==2013]
ERA_mean_2013=date_range["ERA"].mean()

date_range=base_df[base_df["yearID"]==2014]
ERA_mean_2014=date_range["ERA"].mean()

date_range=base_df[base_df["yearID"]==2015]
ERA_mean_2015=date_range["ERA"].mean()

date_range=base_df[base_df["yearID"]==2016]
ERA_mean_2016=date_range["ERA"].mean()

date_range=base_df[base_df["yearID"]==2017]
ERA_mean_2017=date_range["ERA"].mean()

print(ERA_mean_2010,ERA_mean_2011,ERA_mean_2012,ERA_mean_2013,ERA_mean_2014,ERA_mean_2015,ERA_mean_2016,ERA_mean_2017)

4.073333333333333 3.936666666666667 4.009333333333333 3.8633333333333337 3.7379999999999995 3.956333333333333 4.184333333333334 4.352666666666667

In [20]:
#Runs Average per year
date_range=base_df[base_df["yearID"]==2010]
R_mean_2010=date_range["R"].mean()

date_range=base_df[base_df["yearID"]==2011]
R_mean_2011=date_range["R"].mean()

date_range=base_df[base_df["yearID"]==2012]
R_mean_2012=date_range["R"].mean()

date_range=base_df[base_df["yearID"]==2013]
R_mean_2013=date_range["R"].mean()

date_range=base_df[base_df["yearID"]==2014]
R_mean_2014=date_range["R"].mean()

date_range=base_df[base_df["yearID"]==2015]
R_mean_2015=date_range["R"].mean()

date_range=base_df[base_df["yearID"]==2016]
R_mean_2016=date_range["R"].mean()

date_range=base_df[base_df["yearID"]==2017]
R_mean_2017=date_range["R"].mean()

print(R_mean_2010,R_mean_2011,R_mean_2012,R_mean_2013,R_mean_2014,R_mean_2015,R_mean_2016,R_mean_2017)

710.2666666666667 693.6 700.5666666666667 675.1666666666666 658.7 688.2333333333333 724.8 752.7333333333333