In [1]:
#dependencies
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
#create variable to hold csv file
file_path = "baseball_project.csv"

In [5]:
# Read our Data file with the pandas library
base_df=pd.read_csv(file_path)
base_df.head()

,yearID,lgID,teamID,franchID,divID,Rank,G,Ghome,W,L,...,DP,FP,name,park,attendance,BPF,PPF,teamIDBR,teamIDlahman45,teamIDretro
0,1871,NaN,BS1,BNA,NaN,3,31,NaN,20,10,...,24,0.834,Boston Red Stockings,South End Grounds I,NaN,103,98,BOS,BS1,BS1
1,1871,NaN,CH1,CNA,NaN,2,28,NaN,19,9,...,16,0.829,Chicago White Stockings,Union Base-Ball Grounds,NaN,104,102,CHI,CH1,CH1
2,1871,NaN,CL1,CFC,NaN,8,29,NaN,10,19,...,15,0.818,Cleveland Forest Citys,National Association Grounds,NaN,96,100,CLE,CL1,CL1
3,1871,NaN,FW1,KEK,NaN,7,19,NaN,7,12,...,8,0.803,Fort Wayne Kekiongas,Hamilton Field,NaN,101,107,KEK,FW1,FW1
4,1871,NaN,NY2,NNA,NaN,5,33,NaN,16,17,...,14,0.840,New York Mutuals,Union Grounds (Brooklyn),NaN,90,88,NYU,NY2,NY2

In [25]:
#Adjust base_df to show rows(2010 - 2017...break at 2013), columns(name,yearID, H, R, ERA, ER)
base_df[["name","yearID","H","ERA","ER"]]

                               name  yearID     H   ERA   ER
0              Boston Red Stockings    1871   426  3.55  109
1           Chicago White Stockings    1871   323  2.76   77
2            Cleveland Forest Citys    1871   328  4.11  116
3              Fort Wayne Kekiongas    1871   178  5.17   97
4                  New York Mutuals    1871   403  3.72  121
5            Philadelphia Athletics    1871   410  4.95  137
6             Rockford Forest Citys    1871   274  4.30  108
7                    Troy Haymakers    1871   384  5.51  153
8               Washington Olympics    1871   375  4.37  137
9                Baltimore Canaries    1872   753  2.90  166
10                Brooklyn Eckfords    1872   248  5.55  160
11               Brooklyn Atlantics    1872   377  4.53  169
12             Boston Red Stockings    1872   673  1.86   89
13           Cleveland Forest Citys    1872   272  5.70  126
14            Middletown Mansfields    1872   275  5.55  130
15                 New York Mutuals    1872   670  3.02  172
16           Philadelphia Athletics    1872   679  2.85  133
17                   Troy Haymakers    1872   330  2.60   65
18              Washington Olympics    1872    91  6.38   56
19             Washington Nationals    1872    99  6.18   68
20               Baltimore Canaries    1873   810  3.08  174
21              Baltimore Marylands    1873    33  8.00   48
22               Brooklyn Atlantics    1873   588  4.14  230
23             Boston Red Stockings    1873   933  3.07  183
24              Elizabeth Resolutes    1873   204  3.26   75
25                 New York Mutuals    1873   622  2.64  140
26           Philadelphia Athletics    1873   683  3.05  161
27              Philadelphia Whites    1873   645  2.92  156
28             Washington Blue Legs    1873   408  4.84  186
29               Baltimore Canaries    1874   435  3.13  146
...                             ...     ...   ...   ...  ...
2835           Arizona Diamondbacks    2017  1405  3.66  586
2836                 Atlanta Braves    2017  1467  4.72  756
2837              Baltimore Orioles    2017  1469  4.97  795
2838                 Boston Red Sox    2017  1461  3.70  610
2839              Chicago White Sox    2017  1412  4.78  755
2840                   Chicago Cubs    2017  1402  3.95  636
2841                Cincinnati Reds    2017  1390  5.17  821
2842              Cleveland Indians    2017  1449  3.30  529
2843               Colorado Rockies    2017  1510  4.51  721
2844                 Detroit Tigers    2017  1435  5.36  846
2845                 Houston Astros    2017  1581  4.12  662
2846             Kansas City Royals    2017  1436  4.61  737
2847  Los Angeles Angels of Anaheim    2017  1314  4.20  672
2848            Los Angeles Dodgers    2017  1347  3.38  543
2849                  Miami Marlins    2017  1497  4.82  772
2850              Milwaukee Brewers    2017  1363  4.00  642
2851                Minnesota Twins    2017  1444  4.59  732
2852               New York Yankees    2017  1463  3.72  599
2853                  New York Mets    2017  1379  5.01  799
2854              Oakland Athletics    2017  1344  4.67  743
2855          Philadelphia Phillies    2017  1382  4.55  729
2856             Pittsburgh Pirates    2017  1331  4.22  676
2857               San Diego Padres    2017  1251  4.67  742
2858               Seattle Mariners    2017  1436  4.46  713
2859           San Francisco Giants    2017  1382  4.50  726
2860            St. Louis Cardinals    2017  1402  4.01  646
2861                 Tampa Bay Rays    2017  1340  3.97  638
2862                  Texas Rangers    2017  1326  4.66  742
2863              Toronto Blue Jays    2017  1320  4.42  720
2864           Washington Nationals    2017  1477  3.88  623

[2865 rows x 5 columns]